:root {
  margin: 0;
  padding: 0;
  height: 100vh;

  /** Colors **/
  /* Primary */

  --Light-Red: hsl(0, 100%, 67%);
  --Orangey-Yellow: hsl(39, 100%, 56%);
  --Green-Teal: hsl(166, 100%, 37%);
  --Cobalt-Blue: hsl(234, 85%, 45%);

    /*Gradients*/

  --Light-Slate-Blue: hsl(252, 100%, 67%);
  --Light-Royal-Blue: hsl(241, 81%, 54%);

  --Violet-Blue: hsla(256, 72%, 46%, 1);
  --Persian-Blue: hsla(241, 72%, 46%, 0);

  /*Neutral*/

  --White: hsl(0, 0%, 100%);
  --Pale-Blue: hsl(221, 100%, 96%);
  --Light-Lavender: hsl(241, 100%, 89%);
  --Dark-Gray-Blue: hsl(224, 30%, 27%);
}
  
/** Fonts **/

@font-face {
  font-family: "Hanken Grotesk";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  letter-spacing: 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--White);
  height: 100%;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 550;
}

h1 {
  font-size: 1rem;
}

/* App Parent Container */

.results-summary-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Results Section */

.result-section {

  /*background-color: var(--Light-Slate-Blue);*/
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 100vw;
  height: 42vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 25px 25px;
}

.result-heading {
  color: var(--Light-Lavender);
  margin-block: 20px;
}

.final-score {
  /*background-color: var(--Violet-Blue);*/
  background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  height: 125px; 
  width: 125px;
}

.final-score > h1 {
  font-size: 3rem;
  margin-top: 20px;
  color: var(--White);
}

.final-score > h2 {
  font-size: 0.85rem;
  margin-top: -36px;
  color: var(--Light-Lavender);
}

.score-comparison {
    width: 75%;
    color: var(--Light-Lavender);
    margin-bottom: 15px;
}

.score-comparison > h3 {
    color: var(--White);
    margin-bottom: -5px;
    font-size: 1.5rem;
}

/* Summary Section */

.summary-section {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 53vh;
}

.summary-heading {
  width: 100%;
  text-align: left;
  margin-left: 10%;

  font-size: 1.3rem;
  color: var(--Dark-Gray-Blue);
}


.category-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 5px;
}

.category-name {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.category-score {
  display: flex;
  flex-direction: row;
  gap: 7px;
  font-weight: 400;
  color: grey;
}

.score-player {
  font-weight: 700;
  color: var(--Dark-Gray-Blue);
}

.continue-btn {
  background-color: var(--Dark-Gray-Blue);
  color: var(--White);
  padding: 15px;
  width: 80%;
  border-radius: 40px;
}

.continue-btn:hover {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

/* Category name colours */
.Reaction {
  color: var(--Light-Red);
}
.Memory {
  color: var(--Orangey-Yellow);
}
.Verbal {
  color: var(--Green-Teal);
}
.Visual {
  color: var(--Cobalt-Blue);
}

/* Desktop View */
@media screen and (min-width: 480px) {

  h1 {
    font-size: 3rem;
  }
  .results-summary-container {
  flex-direction: row;
  font-size: 2rem;
}

  .result-section {
    height: 100vh;
    flex: 1;
    border-radius: 25px;
    justify-content: space-evenly;
  }

  .final-score {
  height: 300px; 
  width: 300px;
}

.final-score > h1 {
  font-size: 7rem;
  margin-top: 70px;
  color: var(--White);
}

.final-score > h2 {
  font-size: 1.5rem;
  margin-top: -80px;
  color: var(--Light-Lavender);
  }
    .summary-section {
    height: 100vh;
    flex: 1;
    justify-content: space-evenly;
  }

}